{% extends "_layout" %} {% block main %}
    <!--   MAIN block   -->
    <div class="page-header header-filter header-small" data-parallax="true"
         style="background-image: url('{{ entry.image.one.url }}')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title header-paragraph">{{ entry.headertitle }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="main main-raised">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h3 class="title text-center">RECOMMEND SERVICES</h3>
                    </div>
                </div>
                <div class="row">

                    {#LICENSING#}

                    {% if entry.title == 'Licensing' and craft.entries.section('licensing').all() %}
                        {% set featureBlocks = [] %}
                        {% for block in craft.entries.section('licensing').all() %}
                            {% if block.isFeature %}
                                {% set featureBlocks = featureBlocks|merge([block]) %}
                            {% endif %}
                        {% endfor %}
                        {% for block in featureBlocks %}
                            {% if loop.last and loop.index % 2 != 0 %}
                                <div class="col-md-12">
                                    <div class="card card-raised card-background"
                                         style="background-image: url('{{ block.image.one.url }}')">
                                        <div class="card-body">
                                            <h6 class="card-category text-info">{{ block.area }}</h6>
                                            <h3 class="card-title">{{ block.title }}</h3>
                                            <p class="card-description">
                                                {{ block.descriptionSingle }}
                                            </p>
                                            <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                <i class="material-icons">subject</i> Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <div class="card card-raised card-background"
                                         style="background-image: url('{{ block.image.one.url }}')">
                                        <div class="card-body">
                                            <h6 class="card-category text-info">{{ block.area }}</h6>
                                            <a href="{{ block.url }}">
                                                <h3 class="card-title">{{ block.title }}</h3>
                                            </a>
                                            <p class="card-description">
                                                {{ block.descriptionSingle }}
                                            </p>
                                            <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                <i class="material-icons">format_align_left</i> Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {#BLCOK CHAIN#}

                    {% elseif entry.title == 'Block Chain' and craft.entries.section('blockChain').all() %}
                        {% set featureBlocks = [] %}
                        {% for block in craft.entries.section('blockChain').all() %}
                            {% if block.isFeature %}
                                {% set featureBlocks = featureBlocks|merge([block]) %}
                            {% endif %}
                        {% endfor %}
                        {% for block in featureBlocks %}
                            {% if loop.last and loop.index % 2 != 0 %}
                                <div class="col-md-12">
                                    <div class="card card-raised card-background"
                                         style="background-image: url('{{ block.image.one.url }}')">
                                        <div class="card-body">
                                            <h6 class="card-category text-info">{{ block.area }}</h6>
                                            <h3 class="card-title">{{ block.title }}</h3>
                                            <p class="card-description">
                                                {{ block.descriptionSingle }}
                                            </p>
                                            <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                <i class="material-icons">subject</i> Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <div class="card card-raised card-background"
                                         style="background-image: url('{{ block.image.one.url }}')">
                                        <div class="card-body">
                                            <h6 class="card-category text-info">{{ block.area }}</h6>
                                            <a href="{{ block.url }}">
                                                <h3 class="card-title">{{ block.title }}</h3>
                                            </a>
                                            <p class="card-description">
                                                {{ block.descriptionSingle }}
                                            </p>
                                            <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                <i class="material-icons">format_align_left</i> Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        {#COMPANIES#}
                    {% elseif entry.title == 'Companies' and craft.entries.section('companies').all() %}
                        {% set featureBlocks = [] %}
                        {% for block in craft.entries.section('companies').all() %}
                            {% if block.isFeature %}
                                {% set featureBlocks = featureBlocks|merge([block]) %}
                            {% endif %}
                        {% endfor %}
                        {% for block in featureBlocks %}
                            {% if loop.last and loop.index % 2 != 0 %}
                                <div class="col-md-12">
                                    <div class="card card-raised card-background"
                                         style="background-image: url('{{ block.image.one.url }}')">
                                        <div class="card-body">
                                            <h6 class="card-category text-info">{{ block.area }}</h6>
                                            <h3 class="card-title">{{ block.title }}</h3>
                                            <p class="card-description">
                                                {{ block.descriptionSingle }}
                                            </p>
                                            <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                <i class="material-icons">subject</i> Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <div class="card card-raised card-background"
                                         style="background-image: url('{{ block.image.one.url }}')">
                                        <div class="card-body">
                                            <h6 class="card-category text-info">{{ block.area }}</h6>
                                            <a href="{{ block.url }}">
                                                <h3 class="card-title">{{ block.title }}</h3>
                                            </a>
                                            <p class="card-description">
                                                {{ block.descriptionSingle }}
                                            </p>
                                            <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                <i class="material-icons">format_align_left</i> Read More
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                </div>
            </div>

            {#START#}

            <div class="section mt--much pb-0">
                <h3 class="title text-center">OTHER SERVICE</h3>
                <br>
                <div class="col-lg-12 col-md-12 ml-auto mr-auto">
                    <div class="table-responsive">
                        <table class="table table-shopping">
                            <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th>Product</th>
                                <th class="th-description">Introduction</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if entry.title == 'Licensing'  and craft.entries.section('licensing').all() %}
                                {% for block in craft.entries.section('licensing').all() %}
                                    {% if not block.isFeature %}
                                        <tr>
                                            <td>
                                                <div class="img-container">
                                                    <img class="img-raised rounded img-fluid"
                                                         src="{{ block.imageIcon.one.url }}"
                                                         alt="...">
                                                </div>
                                            </td>
                                            <td class="td-name">
                                                <a href="#jacket">{{ block.title }}</a>
                                                <br>
                                                <small>{{ block.area }}</small>
                                            </td>
                                            <td>
                                                {{ block.descriptionSingle }}
                                            </td>

                                            <td class="td-actions">
                                                <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                    <i class="material-icons">subject</i> See More
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% elseif entry.title == 'Block Chain'  and craft.entries.section('Block Chain').all() %}
                                {% for block in craft.entries.section('blockChain').all() %}
                                    {% if block.isFeature != true %}
                                        <tr>
                                            <td>
                                                <div class="img-container">
                                                    <img class="img-raised rounded img-fluid"
                                                         src="{{ block.imageIcon.one.url }}"
                                                         alt="...">
                                                </div>
                                            </td>
                                            <td class="td-name">
                                                <a href="#jacket">{{ block.title }}</a>
                                                <br>
                                                <small>{{ block.area }}</small>
                                            </td>
                                            <td>
                                                {{ block.descriptionSingle }}
                                            </td>

                                            <td class="td-actions">
                                                <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                    <i class="material-icons">subject</i> See More
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% elseif entry.title == 'Companies' and craft.entries.section('Companies').all() %}
                                {% for block in craft.entries.section('companies').all() %}
                                    {% if block.isFeature != true %}
                                        <tr>
                                            <td>
                                                <div class="img-container">
                                                    <img class="img-raised rounded img-fluid"
                                                         src="{{ block.imageIcon.one.url }}"
                                                         alt="...">
                                                </div>
                                            </td>
                                            <td class="td-name">
                                                <a href="#jacket">{{ block.title }}</a>
                                                <br>
                                                <small>{{ block.area }}</small>
                                            </td>
                                            <td>
                                                {{ block.descriptionSingle }}
                                            </td>

                                            <td class="td-actions">
                                                <a href="{{ block.url }}" class="btn btn-green btn-round">
                                                    <i class="material-icons">subject</i> See More
                                                    <div class="ripple-container"></div>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {#END#}
        </div>

        {% if craft.app.language == 'en' %}
            {% include "_contact_en" %}
        {% endif %}
    </div>
{% endblock %}